# created by virtualenv automatically
.vscode
#BaseDatos/referencias*
areaprueba
BaseDatos/influxdb_data
BaseDatos/docs
IBMDeveloper*
BrokerMqttPython/bin
BrokerMqttPython/lib
BrokerMqttPython/samples/audio*
BrokerMqttPython/resultados*
chainsaw_samples
Aplicacion
Raspberry*
