# created by virtualenv automatically
.vscode
BaseDatos/__pycache__/
BaseDatos/bin/
Docente/
BaseDatos/include/
BaseDatos/lib/
#BaseDatos/referencias*
areaprueba
GuardarDatos/influxdb_data
GuardarDatos/docs
IBMDeveloper*
BrokerMqttPython/bin
BrokerMqttPython/lib
BrokerMqttPython/samples/audio*
BrokerMqttPython/resultados*
chainsaw_samples

